.accesCommandeDetail:hover {
  cursor: pointer;
  font-weight: bold;
  color: #651321;
}

.commande-done {
  background: rgb(216 245 157 / 83%);
}

label {
  font-family: "BAHNSCHRIFT1", "LouisGeorgeCafeLight", "arial", "sans-serif";
  margin-left: 5px;
}

p {
  font-family: "BAHNSCHRIFT1", "LouisGeorgeCafeLight", "arial", "sans-serif";
  margin-top: 5px;
}
