<!-- CHOIX QTE ARTICLES -->
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://use.fontawesome.com/c560c025cf.js"></script>

<div
  *ngFor="let produit of produits"
  class="modal fade"
  [id]="'add-panier-' + produit.id"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-color-header text-light align-items-center">
        <h5 class="modal-title" id="staticBackdropLabel">
          Combien de bouteille(s) souhaitez-vous ?
          <i
            class="fa fa-shopping-cart align-items-center"
            aria-hidden="true"
          ></i>
        </h5>
        <button
          type="button"
          (click)="retour()"
          class="btn btn-outline-info btn-sm pull-right"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Retour à la boutique
        </button>
      </div>
      <!-- start ligne produit -->
      <div class="modal-body">
        <div class="container">
          <div class="card shopping-cart">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-sm-2">
                  <img
                    class="img-responsive"
                    src="{{ produit.image }}"
                    alt="prewiew"
                    width="110"
                    height="120"
                  />
                </div>
                <div class="col-sm-4">
                  <h4 class="product-name">
                    <strong>{{ produit.nom }}</strong>
                  </h4>
                  <h4>
                    <small>{{ produit.description }}</small>
                  </h4>
                </div>
                <div class="col-sm-2 text-end">
                  <h5>
                    <strong>{{ produit.prix }} €</strong>
                    <h6>(TTC)</h6>
                  </h5>
                </div>
                <div class="col-sm-1">
                  <h5>
                    <strong><span class="text-muted">x</span></strong>
                  </h5>
                </div>
                <div class="col-sm-2">
                  <div class="quantity">
                    <input
                      type="button"
                      value="+"
                      class="plus"
                      (click)="ajoutArticle()"
                    />
                    <input
                      type="number"
                      step="1"
                      min="1"
                      [(ngModel)]="nbArticle"
                      title="Qty"
                      class="qty"
                      size="4"
                      disabled="true"
                    />
                    <input
                      [disabled]="nbArticle == 1"
                      type="button"
                      value="-"
                      class="minus"
                      (click)="supprimerArticle()"
                    />
                  </div>
                </div>
              </div>
              <!-- end ligne produit -->
              <!-- start ligne carton(s) -->
              <div class="row align-items-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 text-end">
                  <h6>Carton(s) de 6 bouteilles</h6>
                </div>
                <div class="col-sm-2 text-end">
                  <h5>
                    <strong> {{ produit.prix * 6 }} €</strong>
                  </h5>
                  <h6>(TTC)</h6>
                </div>
                <div class="col-sm-1">
                  <h5>
                    <strong><span class="text-muted">x</span></strong>
                  </h5>
                </div>
                <div class="col-sm-2">
                  <div class="quantity">
                    <input
                      type="button"
                      value="+"
                      class="plus"
                      (click)="ajoutCarton()"
                    />
                    <input
                      type="number"
                      step="1"
                      min="1"
                      [(ngModel)]="nbCarton"
                      title="Qty"
                      class="qty"
                      size="4"
                      disabled="true"
                    />
                    <input
                      [disabled]="nbCarton == 0 || nbArticle < 6"
                      type="button"
                      value="-"
                      class="minus"
                      (click)="supprimerCarton()"
                    />
                  </div>
                </div>
              </div>
              <!-- end ligne carton(s) -->
            </div>
            <!-- start infos facturation -->
            <div class="card-footer">
              <p>
                <strong>Montant HT :</strong>&nbsp;{{
                  (produit.prix * nbArticle).toFixed(2)
                }}
                €
              </p>
              <p>
                <strong>TVA (20%) :</strong>&nbsp;
                {{ (produit.prix * nbArticle * 0.2).toFixed(2) }} €
              </p>
              <p>
                <strong>TOTAL:</strong>&nbsp;{{
                  (produit.prix * nbArticle * 1.2).toFixed(2)
                }}
                €
              </p>

              <div class="pull-right" style="margin: 10px">
                <button
                  (click)="validerPanier(produit, nbArticle)"
                  class="btn btn-success pull-right"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  VALIDER
                </button>
              </div>
            </div>
            <!-- end infos facturation -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
