<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://use.fontawesome.com/c560c025cf.js"></script>

<div
  *ngFor="let produit of produits"
  class="modal fade"
  [id]="'add-panier-' + produit.id"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-color-header text-light align-items-center">
        <h5 class="modal-title" id="staticBackdropLabel">
          Combien de bouteille(s) souhaitez-vous ?
          <i
            class="fa fa-shopping-cart align-items-center"
            aria-hidden="true"
          ></i>
        </h5>
        <button
          type="button"
          (click)="retour()"
          class="btn btn-outline-info btn-sm pull-right"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Retour à la boutique
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="card shopping-cart">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-sm-2">
                  <img
                    class="img-responsive"
                    src="{{ produit.image }}"
                    alt="prewiew"
                    width="110"
                    height="120"
                  />
                </div>
                <div class="col-sm-4">
                  <h4 class="product-name">
                    <strong>{{ produit.nom }}</strong>
                  </h4>
                  <h4>
                    <small>{{ produit.description }}</small>
                  </h4>
                </div>
                <div class="col-sm-2 text-end">
                  <h5>
                    <strong>{{ produit.prix }} € </strong>
                  </h5>
                </div>
                <div class="col-sm-1">
                  <h5>
                    <strong><span class="text-muted">x</span></strong>
                  </h5>
                </div>
                <div class="col-sm-2">
                  <div class="quantity">
                    <input
                      type="button"
                      value="+"
                      class="plus"
                      (click)="ajoutArticle()"
                    />
                    <input
                      type="number"
                      step="1"
                      min="1"
                      [(ngModel)]="nbArticle"
                      title="Qty"
                      class="qty"
                      size="4"
                      disabled="true"
                    />
                    <input
                      type="button"
                      value="-"
                      class="minus"
                      (click)="supprimerArticle()"
                    />
                  </div>
                </div>
              </div>

              <!-- PRODUCT -->
              <!-- <div class="row">
                <div class="col-12 col-sm-12 col-md-2 text-center">
                  <img
                    class="img-responsive"
                    src="{{ produit.image }}"
                    alt="prewiew"
                    width="120"
                    height="80"
                  />
                </div>
                <div
                  class="col-12 text-sm-center col-sm-12 text-md-left col-md-4"
                >
                  <h4 class="product-name">
                    <strong>{{ produit.nom }}</strong>
                  </h4>
                  <h4>
                    <small>{{ produit.description }}</small>
                  </h4>
                </div>
                <div
                  class="
                    col-12 col-sm-12
                    text-sm-center
                    col-md-4
                    text-md-right
                    row
                  "
                >
                  <div
                    class="col-3 col-sm-3 col-md-6 text-md-right"
                    style="padding-top: 5px"
                  >
                    <h6>
                      <strong
                        >{{ produit.prix }}
                        <span class="text-muted">x</span></strong
                      >
                    </h6>
                  </div>
                  <div class="col-4 col-sm-4 col-md-5">
                    <div class="quantity">
                      <input type="button" value="+" class="plus" />
                      <input
                        type="number"
                        step="1"
                        max="99"
                        min="1"
                        value="1"
                        title="Qty"
                        class="qty"
                        size="4"
                      />
                      <input type="button" value="-" class="minus" />
                    </div>
                  </div>
                  <div class="col-2 col-sm-2 col-md-2 text-right">
                    <button type="button" class="btn btn-outline-danger btn-xs">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <hr /> -->
              <!-- END PRODUCT -->

              <!-- <div class="pull-right">
                <a href="" class="btn btn-outline-secondary pull-right">
                  Mettre à jour le panier
                </a>
              </div> -->
            </div>
            <div class="card-footer">
              <div
                class="
                  coupon
                  col-md-5 col-sm-5
                  no-padding-left
                  pull-left
                  align-items-center
                "
              >
                <!-- <div class="row">
                  <div class="col-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Code promo"
                    />
                  </div>
                  <div class="col-6">
                    <input
                      type="submit"
                      class="btn btn-default"
                      value="Utiliser mon code"
                    />
                  </div>
                </div> -->

                <p>
                  <strong>Montant HT :</strong>&nbsp;{{
                    (produit.prix * nbArticle).toFixed(2)
                  }}
                  €
                </p>
                <p>
                  <strong>TVA (20%) :</strong>&nbsp;
                  {{ (produit.prix * nbArticle * 0.2).toFixed(2) }} €
                </p>
                <p>
                  <strong>TOTAL:</strong>&nbsp;{{
                    (produit.prix * nbArticle * 1.2).toFixed(2)
                  }}
                  €
                </p>
              </div>
              <div class="pull-right" style="margin: 10px">
                <button
                  (click)="validerPanier(produit, nbArticle)"
                  class="btn btn-success pull-right"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  VALIDER
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
