.img-edit {
  /* max-width: 20%; */
  height: auto;
}

.imgMargin {
  margin-left: 15%;
}

.modal-body-edit {
  background: url("/assets/images/update-produit/Altagama-formulaire-update-produit.png")
    no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal-header-edit {
  background: #651321;
  color: white;
}

.p-edit {
  width: inherit;
  background: #ffffff69;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px;
  font-family: "arial", "sans-serif";
}

.label-edit {
  font-weight: bold;
  color: white;
}

.textarea-edit {
  height: 110px;
}

/* Set the style for a textarea scrollbar. */
textarea::-webkit-scrollbar {
  background-color: #f0f0f0;
  width: 8px;
}
/* Set the style for a textarea scrollbar thumb. */
textarea::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #651321;
}
/* Set the style for a textarea scrollbar thumb hover. */
textarea::-webkit-scrollbar-thumb:hover {
  background-color: #651321d2;
}

h5 {
  color: white;
}

.modal-header {
  background: #651321;
}

label {
  font-size: 18px;
  font-family: "arial", "sans-serif";
}
