footer {
  width: 100%;
}

.fa-mobile {
  font-size: 20px;
}

#p-mobile {
  margin-left: -5px;
}
.adresse {
  margin-top: -18px;
}

.container {
}

.mention-conso-alcool {
  background: #530c18;
  color: white;
  margin: 0;
  border-bottom: solid 2px #f300002b;
}
