<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Altagam - créer un compte</title>
  </head>
  <body>
    <div class="container register">
      <div class="row">
        <div class="col-md-3 register-left">
          <img
            src="assets/images/register/Altagama-soleil-drapeau-argentine-register.png"
            alt="Altagama-image-register"
          />
          <h3>Création de votre compte.</h3>
          <input
            type="submit"
            [routerLink]="['/login']"
            value="Déjà inscrit(e) ?"
          /><br />
        </div>
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <h3 class="register-heading">Mes informations.</h3>
              <div class="register-heading"></div>

              <form
                [formGroup]="registerForm"
                (ngSubmit)="onSubmit(registerForm.value)"
              >
                <div class="row register-form">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email *"
                        value=""
                        formControlName="email"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Mot de passe *"
                        value=""
                        formControlName="password"
                      />
                    </div>
                    <!-- <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Prenom *"
                      value=""
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nom *"
                      value=""
                    />
                  </div> -->
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Confirmation email *"
                        value=""
                        formControlName="confirmEmail"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Confirmation mot de passe *"
                        value=""
                        formControlName="confirmPassword"
                      />
                    </div>

                    <!-- <div class="form-group">
                    <input
                      type="text"
                      minlength="10"
                      maxlength="10"
                      name="txtEmpPhone"
                      class="form-control"
                      placeholder="Confirmation mot de passe *"
                      value=""
                    />
                  </div> -->

                    <div class="form-group">
                      <input
                        type="submit"
                        class="btnRegister"
                        value="Créer mon compte"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <ng-container
                      *ngFor="let validation of validationUserMessage.email"
                    >
                      <div
                        class="error_message"
                        *ngIf="
                          registerForm
                            .get('email')
                            ?.hasError(validation.type) &&
                          (registerForm.get('email')?.dirty ||
                            registerForm.get('email')?.touched)
                        "
                      >
                        {{ validation.message }}
                      </div>
                    </ng-container>
                    <div class="error_message" *ngIf="messageErreur !== ''">
                      {{ messageErreur }}
                    </div>
                  </div>
                  <div>
                    <ng-container
                      *ngFor="let validation of validationUserMessage.password"
                    >
                      <div
                        class="error_message"
                        *ngIf="
                          registerForm
                            .get('password')
                            ?.hasError(validation.type) &&
                          (registerForm.get('password')?.dirty ||
                            registerForm.get('password')?.touched)
                        "
                      >
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
