@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.nav-item {
  height: 65px;
  font-size: 20px;
}

.panier-quantite {
  display: inline-block;
  z-index: 0;
  margin-left: -25px;
  font-weight: bold;
}

.white {
  color: white;
}

.bi {
  font-size: 40px;
  z-index: -1;
}

.dropdown-menu {
  background: #651321;
}

.dropdown-item:hover {
  background: #651321;
  color: #ffffff5e;
}

.active {
  color: rgb(255, 255, 255) !important;
}

a {
  text-align: center;
}
