label,
p {
  font-size: 15px;
  font-weight: bold;
}

.container {
  /* margin: 20px 0 20px 0; */
}

h3 {
  margin: 40px 0 20px 0;
  color: #651321;
}

h2 {
  margin-bottom: 40px;
  color: #651321;
}
.goBack:hover {
  cursor: pointer;
  font-weight: bold;
  color: #651321;
}

.classDeux {
  padding: 2% 5% 2% 5%;
  background: rgb(216 245 157 / 83%) !important;
}
.classUn {
  padding: 2% 5% 2% 5%;
  background: #b1aeae79;
}
