<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://use.fontawesome.com/c560c025cf.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div *ngIf="panier.length == 0" class="">
      <h1>Le panier est vide</h1>
    </div>

    <div class="container" *ngIf="panier.length > 0">
      <div class="row row-header">
        <div class="col-2">Produit(s)</div>
        <div class="col-3"></div>
        <div class="col-2">Quantité</div>
        <div class="col-1">Prix</div>
        <div class="col-2">Total</div>
        <div class="col-2"></div>
      </div>
    </div>

    <div class="container" *ngFor="let data of panier">
      <div class="row row-produit">
        <div class="col-2">
          <img class="media-object image-vin" src="{{ data.produit.image }}" />
        </div>
        <div class="col-3">
          <h4 class="media-heading">
            {{ data.produit.nom }}
          </h4>
          <p class="media-heading">bodega: {{ data.produit.id }}</p>
        </div>
        <div class="col-2">
          <div class="quantity">
            <input
              type="button"
              value="+"
              class="plus"
              (click)="ajouterProduit(data.produit)"
            />
            <input
              type="text"
              step="1"
              min="1"
              [value]="data.quantite"
              title="Qty"
              class="qty"
              size="4"
              disabled="true"
            />
            <input
              type="button"
              value="-"
              class="minus"
              (click)="supprimerProduit(data.produit)"
            />
          </div>
        </div>
        <div class="col-1">{{ data.produit.prix }}€</div>
        <div class="col-2">
          {{ (data.produit.prix * data.quantite).toFixed(2) }}€
        </div>
        <div class="col-2">
          <i style="cursor: pointer" class="bi bi-trash"></i>
        </div>
      </div>
    </div>

    <!-- <div class="container" *ngIf="panier.length > 0">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Produit(s)</th>
                <th>Quantité</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Total</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of panier">
                <td class="ligne-panier col-sm-8 col-md-6">
                  <div class="media">
                    <a class="thumbnail pull-left" href="#">
                      <img
                        class="media-object image-vin"
                        src="{{ data.produit.image }}"
                      />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">
                        {{ data.produit.nom }}
                      </h4>
                      <p class="media-heading">bodega: {{ data.produit.id }}</p>
                    </div>
                  </div>
                </td>
                <td
                  class="ligne-panier col-sm-1 col-md-1"
                  style="text-align: center"
                >
                  <div class="quantity">
                    <input
                      type="button"
                      value="+"
                      class="plus"
                      (click)="ajouterProduit(data.produit)"
                    />
                    <input
                      type="text"
                      step="1"
                      min="1"
                      [value]="data.quantite"
                      title="Qty"
                      class="qty"
                      size="4"
                      disabled="true"
                    />
                    <input
                      type="button"
                      value="-"
                      class="minus"
                      (click)="supprimerProduit(data.produit)"
                    />
                  </div>
                </td>
                <td class="ligne-panier col-sm-1 col-md-1 text-center">
                  {{ data.produit.prix }}€
                </td>
                <td class="ligne-panier col-sm-1 col-md-1 text-center">
                  {{ (data.produit.prix * data.quantite).toFixed(2) }}€
                </td>
                <td class="ligne-panier col-sm-1 col-md-1">
                  <i style="cursor: pointer" class="bi bi-trash"></i>
                </td>
              </tr> -->
    <div class="row row-code-promo">
      <div class="col-1"></div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Code promo" />
      </div>
      <div class="col-3">
        <input
          type="submit"
          class="btn btn-default"
          value="Utiliser mon code"
        />
      </div>
    </div>
    <div class="row row-prix-total">
      <div class="col-11 text-end">
        <h4>
          <strong>TOTAL: </strong>
          &nbsp; {{ (dataPanier.valeurTotale * 1.2).toFixed(2) }}€
        </h4>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row row-paiement">
      <div class="col-11 text-end">
        <button type="button" class="btn btn-success">Paiement</button>
      </div>
    </div>
    <div class="col-1"></div>

    <!--  <tr>
      <td> </td>
                <td> </td>
                <td> </td> -->
    <!-- <td><h5>Total HT:</h5></td>
      <td class="text-right">
        <h5>
          <strong>{{ dataPanier.valeurTotale.toFixed(2) }}€</strong>
        </h5>
      </td>
    </tr>
    <tr> -->
    <!-- <td> </td>
                <td> </td>
                <td> </td> -->
    <!-- <td><h5>TVA (20%):</h5></td>
      <td class="text-right">
        <h5>
          <strong>{{ (dataPanier.valeurTotale * 0.2).toFixed(2) }}€</strong>
        </h5>
      </td>
    </tr>
    <tr> -->
    <!-- <td> </td>
                <td> </td>
                <td> </td> -->
    <!-- <td><h3>TOTAL:</h3></td>
      <td class="text-right">
        <h3>
          <strong>{{ (dataPanier.valeurTotale * 1.2).toFixed(2) }}€</strong>
        </h3>
      </td>
    </tr>
    <tr> -->
    <!-- <td> </td>
                <td> </td>
                <td> </td>
                <td></td> -->
    <!-- <td>
        <button type="button" class="btn btn-success">Paiement</button>
      </td>
    </tr> -->
    <!-- </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </body>
</html>
