<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://use.fontawesome.com/c560c025cf.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div *ngIf="panier.length == 0">
      <h1 style="text-align: center; margin-top: 20%; margin-bottom: 20%">
        Votre panier est vide
        <a [routerLink]="['/boutique']">Accès à la boutique</a>
      </h1>
    </div>

    <div class="container" *ngIf="panier.length > 0">
      <div class="row row-header">
        <div class="col-2 header-col"></div>
        <div class="col-3 header-col header-col-qty">Quantité</div>
        <div class="col-3 header-col">Prix unitaire</div>
        <div class="col-3 header-col">Total</div>
        <div class="col-1 header-col"></div>
      </div>
    </div>

    <div class="container" *ngFor="let data of panier">
      <div class="row row-produit">
        <div class="col-2">
          <img class="media-object image-vin" src="{{ data.produit.image }}" />
        </div>
        <!-- <div class="col-3">
          <p class="media-heading">
            <strong>Description: </strong> {{ data.produit.description }}
          </p>
        </div> -->
        <div class="col-3 body-col col-quantity">
          <div class="quantity">
            <input
              title="Ajouter un article"
              type="button"
              value="+"
              class="plus"
              (click)="ajouterProduit(data.produit)"
            />
            <input
              type="text"
              step="1"
              min="1"
              [value]="data.quantite"
              title="Quantité"
              class="qty"
              size="4"
              disabled="true"
            />
            <input
              title="Enlever un article"
              type="button"
              value="-"
              class="minus"
              (click)="supprimerProduit(data.produit)"
            />
          </div>
          <span *ngIf="data.quantite == 6">
            (soit
            <strong>{{ data.carton }} </strong> carton à
            <strong>{{ data.produit.prixCarton }}</strong> €)</span
          >
          <span *ngIf="data.quantite > 6 && data.quantite < 12">
            (dont
            <strong>{{ data.carton }} </strong> carton à
            <strong>{{ data.produit.prixCarton }}</strong> €)</span
          >
          <span *ngIf="data.quantite >= 12">
            (dont
            <strong>{{ data.carton }}</strong> cartons à
            <strong> {{ data.produit.prixCarton }}</strong> €)</span
          >
        </div>
        <div class="col-3 body-col">{{ data.produit.prix.toFixed(2) }}€</div>
        <div class="col-3 body-col">
          <span [ngClass]="{ textBarre: data.quantite >= 6 }"
            >{{ (data.produit.prix * data.quantite).toFixed(2) }}€
          </span>
          <span *ngIf="data.quantite >= 6">
            <strong style="color: green"
              >{{
                (
                  data.produit.prixCarton * data.carton +
                  (data.quantite - 6 * data.carton) * data.produit.prix
                ).toFixed(2)
              }}€ </strong
            >(avec remise)</span
          >
        </div>
        <div class="col-1 body-col">
          <i
            (click)="supprimerProduit(data.produit, true)"
            style="cursor: pointer"
            class="bi bi-trash"
            title="Supprimer cet article"
          ></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 product-name-col">
          <h4
            class="media-heading product-name"
            data-bs-backdrop="static"
            data-bs-keyboard="true"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#quick-view-' + data.produit.id"
          >
            <strong>{{ data.produit.nom }} </strong>
          </h4>
        </div>
      </div>
    </div>

    <!-- <div class="container" *ngIf="panier.length > 0">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Produit(s)</th>
                <th>Quantité</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Total</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of panier">
                <td class="ligne-panier col-sm-8 col-md-6">
                  <div class="media">
                    <a class="thumbnail pull-left" href="#">
                      <img
                        class="media-object image-vin"
                        src="{{ data.produit.image }}"
                      />
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">
                        {{ data.produit.nom }}
                      </h4>
                      <p class="media-heading">bodega: {{ data.produit.id }}</p>
                    </div>
                  </div>
                </td>
                <td
                  class="ligne-panier col-sm-1 col-md-1"
                  style="text-align: center"
                >
                  <div class="quantity">
                    <input
                      type="button"
                      value="+"
                      class="plus"
                      (click)="ajouterProduit(data.produit)"
                    />
                    <input
                      type="text"
                      step="1"
                      min="1"
                      [value]="data.quantite"
                      title="Qty"
                      class="qty"
                      size="4"
                      disabled="true"
                    />
                    <input
                      type="button"
                      value="-"
                      class="minus"
                      (click)="supprimerProduit(data.produit)"
                    />
                  </div>
                </td>
                <td class="ligne-panier col-sm-1 col-md-1 text-center">
                  {{ data.produit.prix }}€
                </td>
                <td class="ligne-panier col-sm-1 col-md-1 text-center">
                  {{ (data.produit.prix * data.quantite).toFixed(2) }}€
                </td>
                <td class="ligne-panier col-sm-1 col-md-1">
                  <i style="cursor: pointer" class="bi bi-trash"></i>
                </td>
              </tr> -->
    <div class="row row-code-promo" *ngIf="panier.length > 0">
      <div class="col-1"></div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Code promo" />
      </div>
      <div class="col-3">
        <input
          type="submit"
          class="btn btn-default"
          value="Utiliser mon code"
        />
      </div>
    </div>
    <div class="row row-prix-total" *ngIf="panier.length > 0">
      <div class="col-11 text-end">
        <h3>
          <strong>TOTAL (TTC): </strong>
          &nbsp; {{ dataPanier.valeurTotale.toFixed(2) }}€
        </h3>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row row-paiement" *ngIf="panier.length > 0">
      <div class="col-11 text-end">
        <button type="button" class="btn btn-success" (click)="creerCommande()">
          Continuer
        </button>
      </div>
    </div>
    <div class="col-1"></div>

    <!--  <tr>
      <td> </td>
                <td> </td>
                <td> </td> -->
    <!-- <td><h5>Total HT:</h5></td>
      <td class="text-right">
        <h5>
          <strong>{{ dataPanier.valeurTotale.toFixed(2) }}€</strong>
        </h5>
      </td>
    </tr>
    <tr> -->
    <!-- <td> </td>
                <td> </td>
                <td> </td> -->
    <!-- <td><h5>TVA (20%):</h5></td>
      <td class="text-right">
        <h5>
          <strong>{{ (dataPanier.valeurTotale * 0.2).toFixed(2) }}€</strong>
        </h5>
      </td>
    </tr>
    <tr> -->
    <!-- <td> </td>
                <td> </td>
                <td> </td> -->
    <!-- <td><h3>TOTAL:</h3></td>
      <td class="text-right">
        <h3>
          <strong>{{ (dataPanier.valeurTotale * 1.2).toFixed(2) }}€</strong>
        </h3>
      </td>
    </tr>
    <tr> -->
    <!-- <td> </td>
                <td> </td>
                <td> </td>
                <td></td> -->
    <!-- <td>
        <button type="button" class="btn btn-success">Paiement</button>
      </td>
    </tr> -->
    <!-- </tbody>
          </table>
        </div>
      </div>
    </div> -->
    <app-single-produit [produits]="produits"></app-single-produit>
    <app-modal-add-panier [produits]="produits"></app-modal-add-panier>
  </body>
</html>
