<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h1>Réservez votre ateliers de dégustation à la boutique</h1>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="yurplan-widget-container">
            <h4>Les dates disponibles :</h4>
            <iframe
              src="https://yurplan.com/orga/ALTAGAMA/18526/ticketing/widget?wversion=1"
              width="100%"
              height="600px"
              scrolling="auto"
              frameborder="0"
              class="yurplan-widget"
              id="yurplan-widget-18526"
              data-id="18526"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://assets.yurplan.com/yurplan-v1/dist/widget.js"
    ></script>
  </body>
</html>
