<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h1>Réservez votre atelier de dégustation à la boutique</h1>
      <div class="row">
        <div class="col-md-5">
          <br /><br />
          <h5><i class="bi bi-pencil-square"></i> Description :</h5>
          <p>
            Embarquez pour un moment unique de détente et de convivialité qui
            vous emmènera à la découverte des secrets des vins argentins à
            travers une dégustation sensorielle et gourmande. Vous voyagerez
            parmi les différentes régions viticoles depuis les plaines de
            Patagonie jusqu’aux hauts plateaux de Salta en passant par
            l’incroyable Cordillère des Andes de Mendoza. Que vous soyez
            débutant ou connaisseur aguerri, laissez-vous guider par cette
            aventure transatlantique du partage du plaisir du vin.
          </p>
          <h5>
            <img
              src="/assets/images/degustations/wine-glass-icon.png"
              alt="verre de vin"
              style="width: 16px; height: 28px; margin-right: 5px"
            />
            Au programme :
          </h5>
          <p>
            - Présentation des régions viticoles argentines <br /><br />
            - Découverte des avantages incontournables du pays pour une
            production de vin de haute qualité.<br /><br />
            - Dégustation de 6 vins, dont un cépage 100% argentin, accompagnés
            de fromages et de mini empanadas.<br /><br />
            - Conseils pour la dégustation et les accords des vins.<br /><br />
            - Vente directe des vins dégustés.
          </p>
          <h5><i class="bi bi-info-circle"></i> Informations pratiques :</h5>
          <p>
            - Durée de l’atelier : environ 1h30/2h <br /><br />
            - Nombre de participants : Maximum 10 personnes.<br /><br />
            - Adresse de la dégustation : La Boutique des Terroirs du Passeport
            Gourmand - 35 rue du Petit Savine - 44570 Trignac<br /><br />
            <!-- - Tarif: 9€ par personne<br /><br /> -->
            - Contacts : Par téléphone au 06.75.46.66.27 ou par e-mail :
            contact.altagama@gmail.com<br /><br />
            - Langues : français, anglais, espagnol <br /><br />
            - Toutes les dates :RDV sur www.altagama.fr pour accéder à toutes
            les dates disponibles. <br /><br />
            - Evènement réalisé en partenariat avec la boutique des terroirs du
            Passeport Gourmand.
          </p>
          <!-- <h5>⚠ Dispositif Covid-19:</h5>
          <p>
            Toutes les mesures seront prises afin de respecter les gestes
            barrières et préserver la santé de chacun. Du gel hydroalcoolique
            sera mis à votre disposition.
          </p> -->
        </div>
        <div class="col-md-7">
          <div class="yurplan-widget-container">
            <h4>Les dates disponibles :</h4>
            <iframe
              src="https://yurplan.com/orga/ALTAGAMA/18526/ticketing/widget?wversion=1"
              width="95%"
              height="1100px"
              scrolling="auto"
              frameborder="0"
              class="yurplan-widget"
              id="yurplan-widget-18526"
              data-id="18526"
            >
            </iframe>
          </div>
        </div>
        <!-- <div class="col-md-2"></div> -->
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://assets.yurplan.com/yurplan-v1/dist/widget.js"
    ></script>
  </body>
</html>
