body {
  /* background: url("/assets/images/degustations/Altagama-degustation-bg2.jpg");
  background-size: cover;
  scrollbar-base-color: #ff0000; */
  background-color: rgba(255, 255, 255, 0.911);
}

iframe {
  margin: 0 0 15% 3%;
  border: solid 2px #651321;
}

h1 {
  font-family: "LettersForLearners", "arial", "sans-serif";
  font-size: 60px;
  color: rgb(0, 0, 0);
  text-align: center;
}

@media screen and (max-width: 615px) {
  h1 {
    font-size: 40px;
  }
}

h4 {
  font-family: "LouisGeorgeCafeLight", "arial", "sans-serif";
  margin: 3% 0 5% 3%;
  width: fit-content;
  background: brown;
  padding: 5px 5px 5px 5px;
  color: rgb(255, 255, 255);
}
