body {
  background: url("https://firebasestorage.googleapis.com/v0/b/altagama-9d227.appspot.com/o/images%2Fdegustation-domicile-altagama.jpg?alt=media&token=2b7abca1-ff56-4a6a-aa1a-6b1031643649")
    no-repeat;
  /* background: url("/assets/images/contact/Altagama-contact-bg-2.png") no-repeat; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  body {
    height: 100% !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bg-info,
.btn {
  background: #651321 !important;
  border: 1px solid #651321 !important;
}

.card {
  border: 1.5px solid #651321 !important;
}

.fa:before {
  color: #651321;
}

.fa-header:before {
  color: white !important;
}

re-captcha.is-invalid > div {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

.contact {
  background: #ffffffad;
  text-align: center;
  /* height: 170px; */
  padding: 15px;
  margin: 20px;
  /* color: rgb(255, 255, 255); */
  text-shadow: -1px 1px 0 #000;
}
.description {
  background: #ffffffad;
  text-align: center;
  /* height: 170px; */
  padding: 15px;
  margin: 20px;
  color: #0000004a;
  /* color: rgb(255, 255, 255); */
  text-shadow: -1px 1px 0 #000;
}

.contact-coordonnee-header {
  color: #651321 !important;
  text-shadow: -1px 1px 0 #000;
}

.formulaire {
  margin-top: 5%;
}

h1,
h2,
h3,
h4 {
  font-family: "BAHNSCHRIFT1", "LouisGeorgeCafeLight", "arial", "sans-serif";
  color: white;
  text-align: center;
}

.contact-coordonnees {
  font-family: "BAHNSCHRIFT1", "LouisGeorgeCafeLight", "arial", "sans-serif";
  font-size: 18px;
  color: #0000004a;
}

.header-title {
  background-color: rgb(101 19 33 / 87%);
  /* background-color: rgba(255, 255, 255, 0.082); */
}

#recaptcha {
  transform: scale(0.77);
  transform-origin: 0 0;
}

.message-info-succes {
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
  background: rgb(20, 151, 20);
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.error_message {
  color: red;
  width: 100%;
  text-align: left;
}
