<div class="row"></div>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1>Foire aux questions</h1>

      <label>QUESTION</label>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et doloremque
        vel veniam molestias corrupti expedita asperiores. Impedit ullam nulla,
        aliquam deserunt, repellat totam neque dicta recusandae nam labore, quod
        quos?
      </p>

      <label>QUESTION</label>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas libero
        deserunt error enim unde! Labore, voluptatum harum. Tenetur ab quisquam
        vel? Ea quibusdam labore officiis pariatur cum maxime magni eos?<br />
      </p>

      <label>QUESTION</label>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, at iusto!
        Quibusdam iste aspernatur in earum ex a quae laboriosam ut amet, vero
        similique quos itaque provident nobis magnam. Molestiae.
      </p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
