<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p class="message-info">
      Pour toute commande <strong>hors Loire Atlantique (44)</strong> merci
      d'effectuer votre demande par <strong>e-mail</strong>.
    </p>
    <app-produits [produits]="produits"></app-produits>
  </body>
</html>
