<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Vins argentins</title>
  </head>
  <body>
    <!-- <br />
    <div class="container">
      <div class="row">
        <nav aria-label="navigation Altagama">
          <ul class="pagination">
            <li class="page-item">
              <button
                class="btn btn-primary btn-pagination"
                (click)="pagePrecedente()"
              >
                Précédent
              </button>
            </li>
            <li
              class="page-item"
              *ngFor="let page of pages"
              (click)="changerDePage(page)"
              [ngClass]="{ activePagination: page == pageEnCours }"
            >
              <a class="page-link">{{ page + 1 }}</a>
            </li>
            <li class="page-item">
              <button
                class="btn btn-primary btn-pagination"
                (click)="pageSuivante()"
              >
                Suivant
              </button>
            </li>
          </ul>
        </nav> -->
    <div class="container">
      <div class="row">
        <div class="col-12" style="height: 50px"></div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let produit of produits; let i = index">
          <div>
            <div
              *ngIf="userEmail && userEmail == adminMail"
              style="text-align: right"
            >
              <button
                (click)="sendIdProduit(i)"
                class="btn btn-outline-primary btnDelete"
                data-bs-toggle="modal"
                data-bs-target="#deleteProductModal"
              >
                <i class="bi bi-trash"></i>
              </button>
              <button
                style="margin: 0 10px 0 10px"
                (click)="editProduct(i)"
                class="btn btn-outline-primary btnEdit"
                data-bs-toggle="modal"
                data-bs-target="#editProductModal"
              >
                <i class="bi bi-pen"></i>
              </button>
            </div>
            <div class="card h-100" style="margin: 5px 10px 5px 10px">
              <div class="box-image" style="position: relative">
                <img
                  [ngClass]="{
                    sanFelipe: produit.nom == 'SAN FELIPE 12 UVAS – LA RURAL'
                  }"
                  class="card-img-top"
                  src="{{ produit.image }}"
                  alt="Altagama-produit-vin"
                />
              </div>
              <div
                class="box-description"
                style="position: absolute; z-index: 9"
                data-bs-toggle="modal"
                [attr.data-bs-target]="'#quick-view-' + produit.id"
              >
                <p class="description-paragraph">{{ produit.description }}</p>
              </div>

              <div class="card-body">
                <h5 class="card-title">
                  <p
                    data-bs-backdrop="static"
                    data-bs-keyboard="true"
                    class="nomProduit"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#quick-view-' + produit.id"
                  >
                    {{ produit.nom }}
                  </p>
                </h5>

                <h5>
                  <span
                    style="border-radius: 25px; padding: 0 10px 0 10px"
                    class="badge-prix"
                  >
                    {{ produit.prix.toFixed(2) }} €
                  </span>
                  <label style="margin-left: 2%">/ unité</label>
                </h5>
                <h5>
                  <span
                    style="border-radius: 25px; padding: 0 10px 0 10px"
                    class="badge-prix"
                  >
                    {{ produit.prixCarton.toFixed(2) }} €
                  </span>
                  <label style="margin-left: 2%"
                    >/ carton de 6 bouteilles</label
                  >
                </h5>

                <!-- <h5 style="width: 80px; border-radius: 25px" class="badge-prix">
                  {{ produit.prixCarton.toFixed(2) }} €
                </h5>
                <label>/ carton (6 bouteilles)</label> -->

                <!-- <h5 style="width: 45%; border-radius: 25px" class="badge-prix">
                  {{ produit.prix.toFixed(2) }} € <label>/ unité</label>
                </h5>

                <h5 style="width: 80%; border-radius: 25px" class="badge-prix">
                  {{ produit.prixCarton.toFixed(2) }} €
                  <label>/ carton (6 bouteilles)</label>
                </h5> -->
                <a
                  class="button"
                  href="#"
                  data-bs-backdrop="static"
                  data-bs-keyboard="true"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#add-panier-' + produit.id"
                  >Ajouter <i class="fa fa-fw fa-shopping-basket"></i
                ></a>
                <a
                  data-bs-backdrop="static"
                  data-bs-keyboard="true"
                  style="cursor: pointer"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#quick-view-' + produit.id"
                  ><h5 class="detail">
                    Détails <i class="fa fa-fw fa-search detail"></i>
                  </h5>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12" style="height: 50px"></div>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="height: 50px"></div>
      </div>
      <div
        class="modal fade"
        id="deleteProductModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header modal-header-edit">
              <h5 class="modal-title" id="staticBackdropLabel">
                Supprimer un artice
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p *ngIf="produit">
                Êtes vous sûr(e) de vouloir supprimer
                <strong>{{ produit.nom }}</strong> ?
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="onDeleteProduitToServer()"
                data-bs-dismiss="modal"
              >
                Valider la suppression
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="editProductModal"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header modal-header-edit">
              <h5 class="modal-title" id="staticBackdropLabel">
                Modifier les informations du produit
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body modal-body-edit">
              <form *ngIf="produit" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <img
                  *ngIf="produit.image"
                  src="{{ produit.image }}"
                  alt="image du produit"
                  class="img-edit"
                />
                <div class="mt-3">
                  <label class="label-edit">Modifier la photo</label>
                  <input
                    type="file"
                    style="margin-top: 20px"
                    (change)="detectFiles($event)"
                    class="form-control"
                    accept="image/*"
                    name="image"
                    class="input-edit"
                  />
                  <p class="text-success" *ngIf="fileUploaded">
                    Fichier chargé !
                  </p>
                </div>
                <br />
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-6-edit">
                      <br />
                      <label class="label-edit">Nom:</label><br />
                      <input
                        class="input-edit"
                        type="text"
                        name="nom"
                        placeholder="{{ produit.nom }}"
                        [(ngModel)]="produit.nom"
                      /><br /><br />
                      <label class="label-edit">Description:</label><br />
                      <textarea
                        type="text"
                        name="description"
                        placeholder="{{ produit.description }}"
                        [(ngModel)]="produit.description"
                        class="textarea-edit"
                      ></textarea>
                      <br /><br />
                      <label class="label-edit">Catégorie:</label><br />
                      <select
                        *ngIf="produit.categorie == 1"
                        name="categorie"
                        class="input-edit"
                        placeholder="vin rouge"
                        [(ngModel)]="produit.categorie"
                      >
                        <option value="1">vin rouge</option>
                        <option value="2">vin blanc</option>
                      </select>
                      <select
                        *ngIf="produit.categorie == 2"
                        name="categorie"
                        class="input-edit"
                        placeholder="vin blanc"
                        [(ngModel)]="produit.categorie"
                      >
                        <option value="1">vin rouge</option>
                        <option value="2">vin blanc</option>
                      </select>

                      <br /><br />
                      <label class="label-edit">Prix:</label><br />
                      <input
                        class="input-edit"
                        type="number"
                        name="prix"
                        placeholder="{{ produit.prix.toFixed(2) }}"
                        [(ngModel)]="produit.prix"
                      />
                      <br /><br />
                      <label class="label-edit">Prix d'un carton:</label><br />
                      <input
                        class="input-edit"
                        type="number"
                        name="prixCarton"
                        placeholder="{{ produit.prixCarton.toFixed(2) }}"
                        [(ngModel)]="produit.prixCarton"
                      />
                      <br /><br />
                    </div>
                    <div class="col-sm-6 col-sm-6-edit">
                      <br />
                      <label class="label-edit">Bodega:</label><br />
                      <input
                        class="input-edit"
                        type="text"
                        name="bodega"
                        placeholder="{{ produit.bodega }}"
                        [(ngModel)]="produit.bodega"
                      />
                      <br /><br />
                      <label class="label-edit">degrés d'alcool:</label><br />
                      <input
                        class="input-edit"
                        type="number"
                        name="alcool"
                        placeholder="{{ produit.alcool }}"
                        [(ngModel)]="produit.alcool"
                      />
                      <br /><br />
                      <label class="label-edit">Service:</label><br />
                      <input
                        class="input-edit"
                        type="text"
                        name="service"
                        placeholder="{{ produit.service }}"
                        [(ngModel)]="produit.service"
                      />
                      <br /><br />
                      <label class="label-edit">Stock:</label><br />
                      <input
                        class="input-edit"
                        type="number"
                        name="stock"
                        placeholder="{{ produit.stock }}"
                        [(ngModel)]="produit.stock"
                      />
                      <br /><br />
                      <label class="label-edit">Cepage:</label><br />
                      <input
                        class="input-edit"
                        type="text"
                        name="cepage"
                        placeholder="{{ produit.cepage }}"
                        [(ngModel)]="produit.cepage"
                      />
                      <br /><br />
                      <label class="label-edit">Vignification:</label><br />
                      <input
                        class="input-edit"
                        type="text"
                        name="vignification"
                        placeholder="{{ produit.vignification }}"
                        [(ngModel)]="produit.vignification"
                      />
                      <br /><br />
                      <label class="label-edit">Vieillissement:</label><br />
                      <input
                        class="input-edit"
                        type="text"
                        name="vieillissement"
                        placeholder="{{ produit.vieillissement }}"
                        [(ngModel)]="produit.vieillissement"
                      />
                      <br /><br />
                      <label class="label-edit">Accompagnement:</label><br />
                      <input
                        class="input-edit"
                        type="text"
                        name="accompagnement"
                        placeholder="{{ produit.accompagnement }}"
                        [(ngModel)]="produit.accompagnement"
                      />
                      <br /><br />
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Fermer
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="fileIsUploading"
                  >
                    Valider
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-modal-add-panier [produits]="produits"></app-modal-add-panier>
    <app-single-produit [produits]="produits"></app-single-produit>
  </body>
</html>
