@import "~bootstrap-icons/font/bootstrap-icons.css";

.color-altagama {
  color: #651321;
  margin-left: auto;
  margin-right: auto;
}

.bg-altagama {
  color: white;
  background: #651321;
  padding: 10px;
}

@font-face {
  font-family: LouisGeorgeCafeLight;
  src: url(/assets/font/LouisGeorgeCafeLight.ttf) format("opentype");
}
@font-face {
  font-family: LettersForLearners;
  src: url(/assets/font/LettersForLearners.ttf) format("opentype");
}
@font-face {
  font-family: AutumnSunrise;
  src: url(/assets/font/AutumnSunrise.ttf) format("opentype");
}
@font-face {
  font-family: BAHNSCHRIFT1;
  src: url(/assets/font/BAHNSCHRIFT1.ttf) format("opentype");
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
