<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Altagama - Accueil</title>
  </head>
  <body>
    <!-- start header-table -->
    <!-- <div class="wrapper">
      <div class="header-table one"><p>Article(s)</p></div>
      <div class="header-table two"><p>Prix unitaire</p></div>
      <div class="header-table three"><p>Quantité</p></div>
      <div class="header-table four"><p>Prix total</p></div>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-2">Image</div>
        <div class="col-4">
          <h5>nom</h5>
          <h6>description</h6>
        </div>
        <div class="col-2">18,00€ TTC</div>
        <div class="col-1">x</div>
        <div class="col-3">+ 5 -</div>
      </div>
    </div>
  </body>
</html>
