/* body {
  background-image: url("/assets/images/accueil/Altagama-accueil-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

body {
  width: 100%;
  height: 100%;
  /* background-image: url("/assets/images/accueil/Altagama-accueil-bg-3.png");
 */
}

.bandeau {
  width: 100%;
  height: 500px;

  -webkit-box-shadow: 0 8px 6px -6px #6e6767ad;
}

@media screen and (min-width: 0px) and (max-width: 1177px) {
  .bandeau {
    height: 100%;
  }
}

p {
  font-size: 25px;
  padding: 10px;
  margin-bottom: 0px !important;
}

.altagama-p-concept {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  background: #ffffffc7;
  padding: 0px;
}

h1 {
  /* color: white; */
  color: #651321;
  font-family: "AutumnSunrise", "arial", "sans-serif";
  font-size: 75px;
  /* text-shadow: -1px 4px 0 #000; */
}

h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* .container-header {
  position: relative;
} */

.bottom-right {
  /* position: absolute; */
  bottom: 15px;
  text-align: center;
  width: 100%;
}

p,
h3 {
  font-family: "LettersForLearners", "arial", "sans-serif";
  font-size: 30px;
}

strong {
  color: #651321;
}

/* .drapeau {
  width: 80px;
  height: 70px;
} */

.logo {
  /* width: 100%;
  height: auto; */
  margin-left: 25%;
  width: 50%;
  height: 30%;
  /* max-width: 600px;
  max-height: 600px;
  filter: brightness(1.25);
  margin-left: -50%;
  margin-top: -25px; */
}

/* before header change */

/* .container-header {
  background: linear-gradient(165deg, #ffffffa6 50%, #ffffff36 30%);
  /* background: #000000c7; */
/* text-align: center;
  height: auto;
  padding-bottom: 25px;
} */
.container-header {
  /* background: #ffffff36; */
  /* background: #000000c7; */
  background-image: url("/assets/images/accueil/Altagama-accueil-bg-3.png");
  background-size: cover;
  text-align: center;
  height: auto;
  padding-bottom: 25px;
  height: 500px;
}

@media screen and (max-width: 586px) {
  h1 {
    font-size: 30px;
  }
  .logo {
    margin-left: 15%;
    width: 60%;
    height: 80%;
  }
}
@media screen and (max-width: 916px) {
  h1 {
    font-size: 50px;
  }
  .logo {
    margin-left: 0%;
    width: 100%;
    height: 100%;
  }
}
