<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Altagama - Accueil</title>
  </head>
  <body>
    <img
      class="bandeau"
      src="./assets/images/accueil/Altagama-vins-argentins-bg-header-accueil.jpg"
      alt="rencontres gourmandes"
    />
    <div class="container altagama-p-concept">
      <h1>L’Argentine, terre d’immigration aux paysages remarquables.</h1>
      <h3 class="bg-altagama">
        L'Argentine est la grande héritière du savoir-faire viticole européen.
        Le pays s’est approprié les plus grands cépages dont le protagoniste et
        sans aucun doute le Malbec.
      </h3>
      <p>
        <strong>Les vins argentins</strong> ont commencé à surprendre le monde
        qu’à partir des années 2000 alors que la viticulture en Argentine date
        de cinq siècles ! Aujourd'hui, grâce à une
        <strong
          >œnologie plus raffinée, un engagement clair envers ses différents
          terroirs, des fruits de plus de 400 ans d'histoire</strong
        >, les vins argentins gagnent en popularité dans les principaux pays
        viticoles comme la France, l'Italie et l'Espagne.
      </p>
      <p>
        Depuis les déserts de Salta, jusqu’aux aux basses terres fertiles de la
        Pampa, en passant par les pics rocheux des Andes,
        <strong>le terroir argentin</strong> permet de
        <strong>
          cultiver chaque cépage dans la région idéale à sa production en
          faisant un territoire incontournable pour les amateurs de vins du
          Nouveau Monde</strong
        >. Les <strong>vignobles argentins</strong> bénéficient ainsi facilement
        de
        <strong
          >tous les critères nécessaires à l’élaboration de vins de
          garde</strong
        >. Le principal producteur de l'hémisphère sud nous offre alors une
        qualité et diversité de vins qui font aujourd'hui des tendances au-delà
        de ses frontières.
      </p>
      <p>
        Contrairement à d’autres pays du nouveau monde,
        <strong>l’Argentine a toujours eu un lien fort avec le vin</strong>. Sa
        culture a adopté la consommation au point d'en faire aujourd'hui
        <strong>la boisson nationale</strong>. La grande majorité de sa
        production (plus de 70%) est donc consommée sur place, ce qui explique
        la faible quantité et variété des vins argentins dans nos rayons.
      </p>
      <p>
        <strong>Altagama</strong> a sélectionné pour vous des producteurs
        talentueux, et amoureux de leurs vignes afin de vous offrir des pépites
        viticoles avec une véritable typicité. Très bonne découverte à tous !
      </p>
    </div>
  </body>
</html>
