<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Altagama - Accueil</title>
  </head>
  <body>
    <div>
      <img
        src="./assets/images/coming-soon/Altagama-logo-sf.png"
        alt="Altagama-drapeau-argentine"
        class="logo"
        loading="lazy"
      />
    </div>
    <div class="container">
      <h1 style="text-align: center">
        L’Argentine, terre d’immigration aux paysages remarquables.
        <!-- <img
          src="./assets/images/accueil/Altagama-drapeau-argentine.png"
          alt="Altagama-drapeau-argentine"
          class="drapeau"
        /> -->
      </h1>
      <h3 class="bg-altagama" style="text-align: center">
        L'Argentine est la grande héritière du savoir-faire viticole européen.
        Le pays s’est approprié les plus grands cépages dont le protagoniste est
        sans aucun doute le Malbec.
      </h3>
    </div>

    <div class="container-header" style="text-align: center">
      <div class="bottom-right"></div>
    </div>
    <div class="container altagama-p-concept">
      <p>
        Les vins argentins n'ont commencé à surprendre le monde qu’à partir des
        années 2000 alors que la viticulture en Argentine date de cinq siècles !
        Aujourd'hui, grâce à une œnologie plus raffinée, un engagement clair
        envers ses différents terroirs,
        <strong>des fruits de plus de 400 ans d'histoire</strong>, les vins
        argentins gagnent en popularité dans les principaux pays viticoles comme
        la France, l'Italie et l'Espagne.
      </p>

      <p>
        Depuis les déserts de Salta, jusqu’aux basses terres fertiles de la
        Pampa, en passant par les pics rocheux des Andes, le terroir argentin
        permet de cultiver chaque cépage dans la région idéale à sa production
        en faisant
        <strong
          >un territoire incontournable pour les amateurs de vins du Nouveau
          Monde</strong
        >. Les vignobles argentins bénéficient ainsi facilement de tous les
        critères nécessaires à l’élaboration de vins de garde. Le principal
        producteur de l'hémisphère sud nous offre alors
        <strong>une qualité et diversité</strong> de vins qui font aujourd'hui
        des tendances au-delà de ses frontières.
      </p>

      <p>
        Contrairement à d’autres pays du nouveau monde, l’Argentine a toujours
        eu un lien fort avec le vin. Sa culture a adopté la consommation au
        point d'en faire aujourd'hui <strong>la boisson nationale</strong>. La
        grande majorité de sa production (plus de 70%) est donc consommée sur
        place, ce qui explique la faible quantité et variété des vins argentins
        dans nos rayons.
      </p>

      <p>
        <strong>
          Altagama a sélectionné pour vous des producteurs talentueux, et
          amoureux de leurs vignes afin de vous offrir des pépites viticoles
          avec une véritable typicité.</strong
        >
        <br />
        <br />
        Très bonne découverte à tous !
      </p>
    </div>
  </body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Altagama - Accueil</title>
  </head>
  <body>
    <div class="container-header" style="text-align: center">
      <img
        class="bandeau"
        src="./assets/images/accueil/Altagama-accueil-header.jpg"
        alt="Altagama-accueil-header"
        style="width: 100%"
      />

      <div class="bottom-right">
        <h1>
          L’Argentine, terre d’immigration aux paysages remarquables.
          <img
            src="./assets/images/accueil/Altagama-drapeau-argentine.png"
            alt="Altagama-drapeau-argentine"
            class="drapeau"
          />
        </h1>
      </div>
    </div>

    <div class="container altagama-p-concept">
      <h3 class="bg-altagama">
        L'Argentine est la grande héritière du savoir-faire viticole européen.
        Le pays s’est approprié les plus grands cépages dont le protagoniste est
        sans aucun doute le Malbec.
      </h3>
      <p>
        Les vins argentins ont commencé à surprendre le monde
        qu’à partir des années 2000 alors que la viticulture en Argentine date
        de cinq siècles ! Aujourd'hui, grâce à une

          >œnologie plus raffinée, un engagement clair envers ses différents
          terroirs, des fruits de plus de 400 ans d'histoire
        >, les vins argentins gagnent en popularité dans les principaux pays
        viticoles comme la France, l'Italie et l'Espagne.
      </p>
      <img
        class="bandeau"
        src="./assets/images/accueil/Altagama-accueil-header.jpg"
        alt="Altagama-accueil-header"
        style="width: 100%"
      />
      <p>
        Depuis les déserts de Salta, jusqu’aux aux basses terres fertiles de la
        Pampa, en passant par les pics rocheux des Andes,
        le terroir argentin permet de

          cultiver chaque cépage dans la région idéale à sa production en
          faisant un territoire incontournable pour les amateurs de vins du
          Nouveau Monde
        >. Les vignobles argentins bénéficient ainsi facilement
        de

          >tous les critères nécessaires à l’élaboration de vins de
          garde
        >. Le principal producteur de l'hémisphère sud nous offre alors une
        qualité et diversité de vins qui font aujourd'hui des tendances au-delà
        de ses frontières.
      </p>
      <img
        class="bandeau"
        src="./assets/images/accueil/Altagama-accueil-header.jpg"
        alt="Altagama-accueil-header"
        style="width: 100%"
      />
      <p>
        Contrairement à d’autres pays du nouveau monde,
        l’Argentine a toujours eu un lien fort avec le vin. Sa
        culture a adopté la consommation au point d'en faire aujourd'hui
        la boisson nationale. La grande majorité de sa
        production (plus de 70%) est donc consommée sur place, ce qui explique
        la faible quantité et variété des vins argentins dans nos rayons.
      </p>
      <img
        class="bandeau"
        src="./assets/images/accueil/Altagama-accueil-header.jpg"
        alt="Altagama-accueil-header"
        style="width: 100%"
      />
      <p>
        Altagama a sélectionné pour vous des producteurs
        talentueux, et amoureux de leurs vignes afin de vous offrir des pépites
        viticoles avec une véritable typicité. Très bonne découverte à tous !
      </p>
    </div>
  </body>
</html> -->
