.btn-close-reset-password {
  background: white;
  color: black;
  font-weight: 700;
  border: none;
  float: left;
}

.email-error {
  text-align: center;
  margin-top: 40px;
}

h3 {
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 40px;
}

.modal-title {
  color: white;
}

.modal-header {
  background: #651321;
}

.modal-body {
  width: 100%;
  height: auto;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.col-lg-2 {
  text-align: -webkit-center;
}

.btn-valider {
  margin-top: 35px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
