<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/ikabot/pen/XgozPE?limit=all&page=9&q=coming+soon" />

   <!-- BootStrap -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">

  <title>Document</title>
</head>
<body>
    <div class="wrapper">
      <!-- Content -->
      <div class="main-content">
        <div class="counterDown text-center">
          <img id="rouage-icon" src="https://lh3.googleusercontent.com/proxy/xzX4T4wH6kHBxj9PsBk-y5YNKmIwP5eLqMvfTm2QXBPRIthdf5n8MVIXN4l1WueiS5wh0tSonB7KR6dT9DA0Ip9e0qE4UeQ41UtrJ5oreM23kkRWTBRIKhuq6tZ2amhpQanAnTisa_E_KF21zjo1GZWJSRap36AtGcaDp4Gi31YiroWKnSNsY7WIcQeba9EdbjREG1pM7BBhExI-yDw3NGBatcBDqhxD0zZg3DSFu0km_gZF5R5V9iCBemmiG6RzdCc" alt="en-construction">

          <h2>Bientôt disponible</h2>
          <br><br>
          <div class="loading-dots">
            <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
          </div>
        </div>
      </div>
      <p class="text-center"><span>Nous contacter - </span>contact.altagama@gmail.com / 06 75 46 66 27 </p>
    </div>
</body>
</html>
